.order-detail-dialog.MuiDialog-root {
  .modal-quick-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .MuiDialogActions-root.MuiDialogActions-root {
    border-top: 1px solid $border-color;
    padding: 14px 24px;
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    justify-content: center;

    .modal-quick-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }

    .close-modal-footer-btn {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (max-width: 600px) {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;

      .modal-quick-actions {
        justify-content: center;
        width: 100%;
        order: 1;
      }

      .close-modal-footer-btn {
        position: static;
        transform: none;
        width: 100%;
        order: 2;
        margin-left: 0;
      }
    }
  }
}
